.mainheading-text {
  display: flex;
  justify-content: center;
}

.maininputbox {
  display: flex;
  justify-content: center;
}

.mainoutputbox{
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.inputbox {
  height: 261px;
  width: 855px;
  background-color: rgba(214, 221, 221, 0.855);
  border-radius: 20px;
}

.headinginsidebox{
  display: flex;
  justify-content: center;
}

.inputnumber{
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

.inputdiv{
  display: flex;
  justify-content: center;
}

.buttondiv{
  display: flex;
  justify-content: center;
}

.submitbutton{
  padding: 10px;
  margin: 20px;
  background-color: rgb(104, 104, 169);
  color: white;
  border-radius: 10px;
}

button:hover{
  background-color: rgb(43, 43, 124);
  cursor: pointer;
}

.outputbox{
  height: auto;
  width: 855px;
  background-color: rgba(214, 221, 221, 0.855);
  border-radius: 20px;

}

.listdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainlistdiv{
  display: flex;
  justify-content: center;
}

.listitem{
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 205px;
  background-color: rgb(154, 160, 166);
  border-radius: 20px;
}

.listitem:hover{
  cursor: pointer;
  background-color:  rgb(90, 99, 107); 
}